.form-container {
  background-color: red;
  padding: 0.5rem;
}

.form-container form > input {
  border-radius: 1.2rem;
}

.form__upload-button {
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 0.8rem;
}
